[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pairlist = "*"
numpy = "*"
yaplotlib = "*"
matplotlib = "*"
networkx = "*"
cycless = ">=0.4.2"
jupyter = "*"
scipy = "*"
isort = "*"

[dev-packages]
ipykernel = "*"
sympy = "*"

[requires]
python_version = "3.11"
